body {
  background-image: url('/src/img/weddingbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: +5%;
  color:rgb(161, 94, 67);
  padding: 40px;
  font-family: Arial;
  font-size: large;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#note
{
    height:200px;
    font-size:14pt;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.table {
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(131, 250, 250) ;
  color:rgb(161, 94, 67);
  border-collapse: collapse;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(131, 250, 250);
  color:rgb(161, 94, 67);
}

input {
  background-color: rgb(131, 250, 250);
  color:rgb(161, 94, 67);
}

input[type=file]::file-selector-button {
  background-color: rgb(131, 250, 250);
  color:rgb(161, 94, 67);
}

select {
  background-color: rgb(131, 250, 250);
  color:rgb(161, 94, 67);
}

.left-align {
  float: left;
}
td, th {
  border: 5px solid 
}